[run]
source = EXOSIMS
omit = 
  tests
  */__init__.py
  EXOSIMS/e2eTests.py
  EXOSIMS/e2eTKTests.py
  EXOSIMS/SurveySimulation/tieredScheduler.py
  EXOSIMS/util/read_ipcluster_ensemble.py
  EXOSIMS/util/csv_fix.py
  EXOSIMS/util/depthOfSearch.py
  EXOSIMS/util/fakeMultiRunAnalysis.py
  EXOSIMS/util/fakeSingleRunAnalysis.py
  EXOSIMS/util/getExoplanetArchive.py
  EXOSIMS/util/makeSimilarScripts.py
  EXOSIMS/util/partitionSphere.py
  EXOSIMS/util/planet_star_separation.py
  EXOSIMS/util/memoize.py
