include LICENSE README.md CODE_OF_CONDUCT.md CONTRIBUTING.md requirements.txt
recursive-exclude .github *
recursive-exclude tests *
recursive-exclude documentation *
recursive-exclude tools *
exclude test_requirements.txt .gitignore .coveragerc .flake8 .git-blame-ignore-revs
include EXOSIMS/util/KeplerSTM_C/CyKeplerSTM.pyx EXOSIMS/util/KeplerSTM_C/KeplerSTM_C.*
exclude EXOSIMS/util/KeplerSTM_C/CyKeplerSTM.c
include EXOSIMS/Observatory/L2_halo_orbit_six_month.mat
include EXOSIMS/PlanetPhysicalModel/fortney_table4.mat
include EXOSIMS/TargetList/spectral_catalog_index.json
include EXOSIMS/TargetList/NASA_EXOPLANET_ARCHIVE_SYSTEMS.json.gz
recursive-include EXOSIMS/StarCatalog *.votable
include EXOSIMS/StarCatalog/SIMBAD300.mat
recursive-include EXOSIMS/Scripts *.json
include EXOSIMS/Scripts/sampleOB.csv
recursive-include EXOSIMS/PlanetPopulation *Occ_Radius.csv
recursive-include EXOSIMS/PlanetPopulation *.votable
recursive-include EXOSIMS/ZodiacalLight *.fits
include EXOSIMS/ZodiacalLight/Leinert98_table17.txt
include EXOSIMS/BackgroundSources/stellar_cnts.txt
recursive-include EXOSIMS/PlanetPopulation *Occ_Radius.csv
recursive-include EXOSIMS/TargetList/dat_uvk *.fits
recursive-include EXOSIMS/TargetList/bpgs *.fits
