include LICENSE README.md
include EXOSIMS/util/KeplerSTM_C/CyKeplerSTM.pyx EXOSIMS/util/KeplerSTM_C/KeplerSTM_C.*
exclude EXOSIMS/util/KeplerSTM_C/CyKeplerSTM.c
recursive-exclude tests *
recursive-exclude documentation *
exclude requirements.txt .gitignore .travis.yml .coveragerc EXOSIMS_cropped.png
